#about{
    max-width: 100%;
    height: 100vh;
}
#about .about{
    position: absolute;
    top: 35%;
}

.about .items{
    margin-left: 25%;
}

.about .items h1{
    font-size: 2.5rem;
    font-weight: 700;
}

/* scroll down animation */
.box{
	position: absolute;
	top: 88%;
	left: 50%;
	transform: translate(-50%, -50%);
    animation: reveal_scroll 2s ease-in forwards;
}
@keyframes reveal_scroll{
    0%, 50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.box span{
	display: block;
	width: 16px;
	height: 16px;
	border-bottom: 2px solid crimson;
	border-right: 2px solid crimson;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.box span:nth-child(2)
{
	animation-delay: -0.2s;
}
.box span:nth-child(3)
{
	animation-delay: -0.4s;
}
@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

#body .body{
    height: auto;
}
#body .body .items{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 25px 5px;
    padding: 15px;
    margin-top: 20%;
}


#body .body .items p{
    padding-bottom: 10px;
}

#body .image{
    display: flex;
    align-items: center;
    margin: 20px;
}
#body .image img{
    height: 320px;
    width: 220px;
}

#body .items .text .btn{
    margin:20px 0;
}


@media screen and (min-width:490px){
    #about h1{
        font-size: 4rem;
    }
    #about .items{
        margin-left: 18%;
    }
}
@media screen and (min-width:900px){

    #body .body{
        height: 100vh;
    }
    #body .body .items{
        flex-direction: row;
        margin:0 5%;
    }
    #body .image{
        display: flex;
        align-items: center;
        margin: 20px;
    }
}

@media screen and (max-width:1200px){
    /* html{
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    section{
        scroll-snap-align: start;
    } */
    .hi2{
        display: none;
    }
}

@media screen and (min-width:1200px){
    .hi{
        display: none;
    }
    .hi2{
        font-size: 2.8rem;
        margin: 20px 0;
    }
    #about{
        display: none;
    }
    #body .image img{
        /* this will prevent users to do any events on images section  */
        pointer-events: none;
        height: 410px;
        width: 270px;
    }
}