.nav{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 10vh;
    background-color: #F5F5F5;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* this width 100% completes the space-between content */
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

.nav-items .brand a{
    font-size: 22px;
    color: black;
}

/* this chunk of code hides the ul lists to the left  */
.nav-items .links .items{
    position: absolute;
    /* background-color: rgb(30, 30, 30); */
    background-color: #C0C0C0;
    width: 100vw;
    height: 100vh;
    left:100%;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    transition: 0.5s ease left;
}
.nav-items .links .items ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 80px;
    margin-left: 35px;
}
.nav-items .links .items .mini-contact{
    display: flex;
    flex-direction: column;
    padding: 95px 0;
    margin-left: 35px;
}
.nav-items .links .items .mini-contact a{
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

/* js controls this part which reveal the hidden lists*/
.nav-items .links .active{
    left: 0;
}

/* this is for mobile a tag to shift right on active */
/* .nav-items .links .activeA{
    left: 20%;
} */

.nav-items .links ul li{
    display: block; 
    padding: 6px;            
    font-size: 20px; 
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px;
}
.nav-items .links ul li a{
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: crimson;
    display: block;
    position: relative;
    padding-right: 18px;
}
/* this is for the hover effect */
.nav-items .links ul li a::before{
    content: "";
    width: 100%;
    height: 1.5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}
.nav-items .links ul li a:hover::before{
    transform: scale3d(1,1,1);
}
.nav-items .links ul li a::before{
    background: crimson;
    transform-origin: 100% 50%;
}
.nav-items .links ul li a:hover::before{
    transform-origin: 0 50%;
}


/* hamburger */
.hamburger{
    height: 60px;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
}
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin-right: 35%;
}
.line {
    fill: none;
    stroke: crimson;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 3;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 3;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 3;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 3;
}


@media screen and (min-width:600px) and (max-width:1200px){
    .nav .brand a{
        font-size: 2rem;
    }
    .nav-items .links .items ul, .mini-contact{ 
        margin-left:20px;
    }
}

@media screen and (min-width:1200px){
    .nav{
        min-height: 14vh;
    }
    .nav .brand a{
        font-size: 2.3rem;
        margin: 0 25px;
    }


    .hamburger{
        display: none;
    }
    .nav .nav-items .links .items .mini-contact{
        display: none;
    }

    .nav .nav-items .links .items{
        position: initial;
        /* display: block; */
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    .nav .nav-items .links .items ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        /* padding-right: 20px; */
        margin: 0 25px;
    }
    .nav .nav-items .links .items ul li{
        font-size: 18px;
        padding: 0;
    }
    .nav .nav-items .links .items ul li a{
        letter-spacing: 2px;
        font-weight: 400;
        text-transform: lowercase;
        margin: 0 20px;
        padding: 6px 2px;
        color: black;
        font-size: 18px;
    }
    .nav .nav-items .links .items ul li .active{
        left: 0%;
        color:  crimson;
    }    
}

