<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siddharth M.Thapa - Web Developer</title>
    <link rel="icon" href="images/logo.png" type="image/icon type">

    
    <link rel="stylesheet" href="style/primary.css">
    <link rel="stylesheet" href="style/openingAnimation.css">
</head>
<body>

    <%- include('navbar') %>

    <%- body %>
    
    <script defer src="js/activeLink.js"></script>
</body>
</html>