<% layout("./boilerplate.ejs") %>
<link rel="stylesheet" href="../style/about.css">

<section id="about">
    <div class="about">
        <div class="items">
            <h1>
                Hello, <br> I'm <br>S<c>i</c>ddharth. <span></span>
            </h1>
            <p>Pleased to meet you.</p>
        </div>
    </div>
    <div class="box">
		<span></span>
		<span></span>
		<span></span>
	</div>
</section>

<section id="body">
    <div class="body container">
        <div class="items">
            <div class="image">
                <img src="images/img01.jpg" alt="image">
            </div>
            <div class="text">
                
                <h2 class="hi">Hi, </h2>
                <h2 class="hi2">Hello, <br>I'm Siddharth</h2>
                
                <p>&emsp;&emsp;&emsp;I'm a learning web-developer. I have always been passionate about computers and decided to turn that passion into a career. Though my experience in the industry is minimal, I have honed my skils and gained valuable knowledge and experties. My main focus is on building interactive websites and I am constantly striving to learn more and improve my craft. In additional to my professional work, I also enjoy photography and music. I find that these activities help to keep me balanced and energized, which ultimately benefits my wok as well.</p>
                <p>
                &emsp;&emsp;&emsp;I created this website as a way to showcase my work and provide a platform for 
                others to learn more about me and what I do. I believe that collaboration and communication
                are key to success, and I am always open to new opportunities and partnerships.
                </p>
                <div class="btn">
                    <a href="../images/resume.pdf" target="_blank" type="button">Download Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="height: auto;"">
    <%- include('footer.ejs') %>
</section>