<link rel="stylesheet" href="../style/footer.css">

<div class="footer">
    <div class="items">
        <div class="slogan">
            <p>Let's have a chat.</p>
        </div>
        <div class="go">
            <a href="/contact" type="button">Let's Go!!</a>
        </div>
    </div>
</div>