<% layout("./boilerplate.ejs") %>

<link rel="stylesheet" href="../style/home.css">

<div class="home">

    <div class="body">
        <h1>S<c>i</c>ddharth M<c>.</c> <br>Tha<c>p</c>a<span></span></h1>
        <h2>Web Developer</h2>
        <div class="btn">
            <a href="../images/resume.pdf" target="_blank" type="button">Download Resume</a>
        </div>
        <div class="slogan">
            <p>Currently looking for full time <br class="breakPoint1"> position <br class="breakPoint2"> as front-end Developer</p>
        </div>
    </div>
    
    <div class="location">
        <div class="item">
            <h2>Karnataka,</h2> <h2>Bengaluru</h2>
        </div>
        <div class="co-ordinates">
            <div class="icon">
                <a href="https://goo.gl/maps/xRWnUF1RfTodyesS7" target="_blank"><img src="https://img.icons8.com/material/96/DC143C/marker--v1.png"/></a>
            </div>
            <p>13.137726 <br>77.348684</p>
        </div>
    </div>

</div>